.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

/* .modal-container.hidden-modal {
  display: none;
} */

.modal-dialog {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
  width: 300px;
}

.modal-dialog form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.modal-dialog form input:not(input[type="checkbox"]) {
  width: 100%;
}

.modal-dialog form input {
  margin-bottom: 10px;
  padding: 10px;
}

.modal-dialog form h2,
.modal-dialog form label {
  color: black;
}
